* {
  box-sizing: inherit;
}

div[class$='page'] {
  width: 100%;
}

.navbar-light {
  width: 100%;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}
